<div class="wrapper">
    <img src="7965688918_ec3edf81e2_k.jpg" class="img-responsive" alt="Responsive image">
  <div class="sol-sm-6" id="container">
    <h1 id="text">We Need Your Books!</h1>
  </div>
</div>