<div class="wrapper">
  <%= image_tag("7965688918_ec3edf81e2_k.jpg", class: "img-responsive") %>
  <div class="sol-sm-6" id="container">
    <h1 id="text">We Need Your Books!</h1>
  </div>
  <div class="sol-sm-6" id="container">
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary", id: "text1"%>
  </div>
</div>