<div class="center">
  <section id="login" style="padding:10px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-wrap">
            <% if !@store.nil? %>
              <% @store.each_with_index do |b, i|%>
                <% if i != 0 %>
                    <% if !@store[0..i-1].map(&:course).include?"#{b.course}"%>
                      <h1 style="font-size: 34px;"><%= b.course %></h1>
                    <% end %>
                <% else %>
                    <h1 style="font-size: 34px;"><%= b.course %></h1>
                <% end %>
                <%=link_to subject_path(b.course,b.number) do %>
                  <div class="users" style="color:black;">
                    <h4><%="#{b.course} #{b.number}" %></h4>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>